body {
    margin: 0;
    padding: 0;
}

.card {
    position: relative;
    height: 100%;
}

.overlay-card {
    position: relative;
    overflow: hidden;
    background: none;
}

.overlay-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./imgs/trees.jpg') center center / cover no-repeat;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    z-index: -1;
}

.overlay-card .card-body {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    z-index: 1;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.headshot {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.headshot-wrap {
    position: absolute;
}

.social-icons {
    font-size: 24px;
    color: #333;
    display: flex;
    gap: 15px;
}

.icon:hover {
    color: #ffffff;
}

.icon {
    text-decoration: none;
    color: grey;
}

.card-img-wrap {
    position: relative;
}

.left {
    bottom: -30px;
    left: 10px;
}


.center {
    bottom: -30px;
    left: 40%;
}

#card3 .card-img {
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}


.card-img-top {
    position: relative;
    top: -30px;
    left: 0;
    width: 100%;
    z-index: 1;
}

.img-round {
    border-radius: 20px;
}

.banner {
    background: url('imgs/pines.jpg') no-repeat center center;
    background-size: cover;
    height: 60vh; /* Adjust as needed for the banner height */
    position: relative;
  }

  .banner .container {
    z-index: 2;
  }

  .banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Optional: Adds a dark overlay for better text contrast */
    z-index: 1;
  }

  .banner * {
    position: relative;
    z-index: 2;
  }

  footer {
    margin: 0;
    width: 100vw;
    padding: 0;

  }
